[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ambient"]
	path = ambient
	url = https://github.com/thomasp85/ambient
[submodule "curry"]
	path = curry
	url = https://github.com/thomasp85/curry
[submodule "densityClust"]
	path = densityClust
	url = https://github.com/thomasp85/densityclust
[submodule "farver"]
	path = farver
	url = https://github.com/thomasp85/farver
[submodule "fiery"]
	path = fiery
	url = https://github.com/thomasp85/fiery
[submodule "gganimate"]
	path = gganimate
	url = https://github.com/thomasp85/gganimate
[submodule "ggforce"]
	path = ggforce
	url = https://github.com/thomasp85/ggforce
[submodule "ggfx"]
	path = ggfx
	url = https://github.com/thomasp85/ggfx
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
[submodule "ggraph"]
	path = ggraph
	url = https://github.com/thomasp85/ggraph
[submodule "hierarchicalSets"]
	path = hierarchicalSets
	url = https://github.com/thomasp85/hierarchicalsets
[submodule "lime"]
	path = lime
	url = https://github.com/thomasp85/lime
[submodule "particles"]
	path = particles
	url = https://github.com/thomasp85/particles
[submodule "patchwork"]
	path = patchwork
	url = https://github.com/thomasp85/patchwork
[submodule "reqres"]
	path = reqres
	url = https://github.com/thomasp85/reqres
[submodule "routr"]
	path = routr
	url = https://github.com/thomasp85/routr
[submodule "scico"]
	path = scico
	url = https://github.com/thomasp85/scico
[submodule "shinyFiles"]
	path = shinyFiles
	url = https://github.com/thomasp85/shinyfiles
[submodule "tidygraph"]
	path = tidygraph
	url = https://github.com/thomasp85/tidygraph
[submodule "transformr"]
	path = transformr
	url = https://github.com/thomasp85/transformr
[submodule "tweenr"]
	path = tweenr
	url = https://github.com/thomasp85/tweenr
